<%= form_with(model: contest, local: true) do |form| %>
  <% if contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
        <% contest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card">
    <h1 class="text-center">
      Submit Your Slogan
    </h1>
    <p>
    Please fill in this form to enter the contest  
    </p>
    <div class="actions text-center">
      <%= form.submit "Submit"%>
    </div>
  </div>


<% end %>
