<style>
  .main{
    color:red;
  }
</style>


<div class="container">
  
  <div class="">
    <div class="row float-right">
      <div class="">
        <h3 class="">An exciting, prestigious and inspiring bike</h3>
        <h3 class="">At the foot of the Rocky mountain, Colorado</h3>
      </div>
    </div>

    <!-- <div class="row float-right">
      <div class="col">
        <h3 class="">At the foot of the Rocky mountain, Colorado</h3>
      </div>
    </div> -->
  </div>
  
  <div class="row">
    <div class="col">
      <h1 class="">Boulder Bike Tour</h1>
    </div>
  </div>

</div>
<h1 class="main display-3">Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>
