<style>
  footer {
    background-color: black;
    color: white;
  }

</style>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Contact us</h2>
        <p>Call us on: 0204 4892 028</p>
        <p>Email us: boulderbike@tour.com</p>
      </div>

      <div class="col-md-4 text-center">
        <h2>Our location</h2>
      </div>
      
      <div class="col-md-4 text-center">
        <h2>Follow us on</h2>
      </div>
    </div>
  </div>
</footer>